<div [ngClass]="
    {
        'is-collapsed': app.layout.isMenuCollapsed,
        'is-opened': app.layout.isMenuOpened,
        'rtl' : app.layout.rtlActived
    }" class="app">
  <div [ngClass]="headerSelected" class="layout">

    <div [ngClass]="sidenavSelected">
      <!-- Side Nav START -->
      <div class="side-nav" sideBar *ngIf="examMode == 0">
        <div class="side-nav-inner">
          <div class="side-nav-logo">
            <a [routerLink]="['/dashboard']" href="">
              <div class="logo " style="background-image: url('assets/images/logo/bemore-logo.png')"></div>
            </a>
            <div class="mobile-toggle side-nav-toggle">
              <a (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed" href="javascript:void(0);">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
          <ul class="side-nav-menu scrollable">
            <li clas="nav-item" routerLinkActive="active">
              <a *ngIf="isUser()" [routerLink]="['/dashboard']" class="mrg-top-30" href="">
                                <span class="icon-holder">
                                    <i class="ti-home"></i>
                                </span>
                <span class="title">Accueil</span>
              </a>
            </li>
            <li *ngIf="isAdmin()" clas="nav-item" routerLinkActive="active">
              <a *ngIf="isUser()" [routerLink]="['/quiz/add-quiz']" class="mrg-top-30" href="">
                                <span class="icon-holder">
                                    <i class="ti-file"></i>
                                </span>
                <span class="title">Ajouter un test</span>
              </a>
            </li>
            <li *ngIf="isAdmin()" clas="nav-item" routerLinkActive="active">
              <a *ngIf="isUser()" [routerLink]="['/quiz/list-quiz']" class="mrg-top-30" href="">
                                <span class="icon-holder">
                                    <i class="ti-list"></i>
                                </span>
                <span class="title">Afficher les tests</span>
              </a>
            </li>
            <li *ngIf="isAdmin()" clas="nav-item" routerLinkActive="active">
              <a *ngIf="isUser()" [routerLink]="['/quiz/list-quizuser']" class="mrg-top-30" href="">
                                <span class="icon-holder">
                                    <i class="ti-stats-up"></i>
                                </span>
                <span class="title">Afficher les résultat</span>
              </a>
            </li>
            <li *ngIf="isAdmin()" clas="nav-item" routerLinkActive="active">
              <a *ngIf="isUser()" [routerLink]="['/quiz/add-user']" class="mrg-top-30" href="">
                                <span class="icon-holder">
                                    <i class="ti-user"></i>
                                </span>
                <span class="title">Ajouter un utilisateur</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <!-- Side Nav END -->

      <!-- Page Container START -->
      <div class="page-container">

        <!-- Top Nav START -->
        <div class="header navbar">
          <div class="header-container">
            <ul class="nav-left">
              <li>
                <a (click)="app.layout.isMenuCollapsed = !app.layout.isMenuCollapsed" class="side-nav-toggle"
                   href="javascript:void(0);">
                  <i class="ti-view-grid"></i>
                </a>
              </li>
            </ul>
            <ul class="nav-right">

              <!-- User profile dropdown -->
              <li class="user-profile dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">

                  <img alt="profil_picture" class="profile-img img-fluid" src="assets/images/avatars/fb.jpg">
                  <div class="user-info">
                    <span *ngIf="dataLoaded == 1" class="name pdd-right-5"> Bonjour {{username}} </span>
                    <i class="ti-angle-down font-size-10"></i>
                  </div>
                </a>

                <ul class="dropdown-menu">
                  <!-- User profile  -->
                  <li>
                    <a [routerLink]="['/user/profile']" href="">
                      <i class="ti-user pdd-right-10"></i>
                      <span>Profil</span>
                    </a>
                  </li>
                  <!-- User Inbox -->

                  <li class="divider" role="separator">

                  </li>
                  <!-- LogOut User -->
                  <li>
                    <a (click)="logOut()" style="cursor: pointer">
                      <i class="ti-power-off pdd-right-10"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>

          </div>
        </div>
        <!-- Top Nav END -->

        <!-- Side Panel END -->

        <!-- Content Wrapper START -->
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
        <!-- Content Wrapper END -->

        <!-- Footer START -->
        <footer class="content-footer">
          <div class="footer">
            <div class="copyright">
              <span>Bemore © 2019</span>

            </div>
          </div>
        </footer>
        <!-- Footer END -->

      </div>
      <!-- Page Container END -->

    </div>
  </div>
</div>

