<div class="container-fluid">


  <div class="alert alert-danger alert-dismissible fade show" *ngIf="passed">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Attention ! </strong> Vous avez déja passé cet éxamen.
  </div>

  <div id="quiz">
      <hr />
    <div *ngIf="mode=='quiz'">
    <div *ngFor="let question of filteredQuestions;">
      <div class="badge badge-info">Question {{pager.index + 1}} sur {{pager.count}}.</div>
      <div *ngIf="config.duration" class="badge badge-info float-right">Timer: {{ellapsedTime}} / {{config.duration | minuteSeconds }}</div>
      <h3 class="font-weight-normal">{{pager.index + 1}}.
        <span  [innerHTML]="question.content"></span>
      </h3>
      <div class="row text-left options">
        <div class="col-6" *ngFor="let option of question.answers">
          <div class="option">
            <label class="font-weight-normal bg-light"  [attr.for]="option.id">
              <input id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" /> {{option.content}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">Premier</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Précédent</button>
      <button class="btn btn-info" (click)="goTo(pager.index + 1);">Suivant</button>
      <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Dernier</button>
      <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
    </div>
  </div>

  <div class="row text-center" *ngIf="mode=='review'">
    <div class="col-4 cursor-pointer" *ngFor="let question of questions; let index = index;">
      <div (click)="goTo(index)" class="p-3 mb-2 {{ isAnswered(question) == 'Répondu'? 'bg-info': 'bg-warning' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
    </div>
  </div>
  <div class="result" *ngIf="mode=='result'">
    <h2>Résultat du quiz</h2>
    <div *ngFor="let question of questions; let index = index">
      <div class="result-question">
        <h5>{{index + 1}}. {{question.content}}</h5>
        <div class="row">
          <div class="col-6" *ngFor="let answers of question.answers">
            <input id="{{answers.id}}" type="checkbox" disabled="disabled" [(ngModel)]="answers.selected" /> {{answers.content}}
          </div>
        </div>
        <div class="p-1 m-2 alert {{ isCorrect(question) == 'correcte'? 'alert-success': 'alert-danger'}}">Votre réponse est  {{isCorrect(question)}}.</div>
      </div>
    </div>
    <h4 class="alert alert-info text-center">Vous pouvez quitter la session.</h4>
  </div>
  <hr />
  <div *ngIf="mode!='result'">
    <button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>
    <button class="btn btn-info" (click)="mode = 'review'">Revue</button>
    <button class="btn btn-lg btn-outline-primary" (click)="onSubmit();">Soumettre le quiz</button>
  </div>
</div>
</div>
