 <div class="modal-content">
      <div class="modal-header">
        <h4>Veuillez Saisir les Réponse pour cette Question : {{Question.content }}</h4>
      </div>
      <div class="modal-body">
        <p>Form</p>
        <p>Form</p>
        <p>Form</p>
        <p>Form</p>
        <p>Form</p>
        <p>Form</p>
        <p>Form</p>
      </div>
      <div class="modal-footer no-border">
        <div class="text-right">
          <button class="btn btn-default btn-sm" (click)="activeModal.dismiss('Cross click')">Cancel</button>
          <button class="btn btn-primary btn-sm" data-dismiss="modal">Sauvegarder</button>
        </div>
      </div>
    </div>

