<div class="authentication">
  <div class="sign-in-2">
    <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/bemore.jpg')">
      <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
          <div class="row">
            <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
              <div class="vertical-align full-height">
                <div class="table-cell">
                  <div class="card">
                    <div class="card-body">
                      <div class="pdd-horizon-30 pdd-vertical-30">
                        <div class="mrg-btm-30">
                          <img alt="" class="img-responsive inline-block" src="assets/images/logo/bemore-logo.png">
                          <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">Login</h2>
                        </div>

                        <p *ngIf="mode==0" class="mrg-btm-15 font-size-15">Veuillez saisir vos coordonnées pour se
                          connecter</p>
                        <p *ngIf="mode==1" class="pdd-left-60 pdd-right-60 text-center error mrg-btm-15 font-size-15">
                          Veuillez vérifier vos coordonnées</p>

                        <form #v="ngForm" (ngSubmit)="onLogin(v.value)"
                              [formGroup]="loginForm" class="needs-validation">

                          <div class="form-group">
                            <input [(ngModel)]="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" formControlName="username"
                                   name="username"
                                   ngModel=""
                                   placeholder="Login"
                                   type="text">

                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors?.required">Veuillez saisir le login</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input [(ngModel)]="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" formControlName="password"
                                   name="password"
                                   ngModel=""
                                   placeholder="Mot de passe"
                                   type="password">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors?.required">Veuillez saisir le mot de passe</div>
                            </div>
                          </div>


                          <div class="pull-right">
                            <a [routerLink]="['/signup']" href="">S'inscrire</a>
                          </div>
                          <div class="inline-block">


                          </div>
                          <div class="mrg-top-20 text-right">
                            <button class="btn btn-info" type="submit">Se connecter</button>
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
