<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading border bottom">
          <h4 class="card-title">Liste des quiz</h4>
        </div>
        <div class="card-block">
          <div class="table-overflow">
            <div class="row">
              <div class="mrg-right-20">
                <input [(ngModel)]="listFilter" class="form-control mr-1"
                       placeholder="Filtrer par Nom : "
                       type="text"/>

              </div>
            </div>
            <br>
            <table class="table table-lg table-hover">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Description</th>
                <th>Supprimer/Modifier</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let q of filtredQuiz">
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.name}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.createdDate | date}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.description}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-15">
                    <div class="d-inline p-1">
                      <a (click)="deleteQuiz(q.id)" class="btn btn-danger" id="delete">
                        <i class="ti-trash pdd-right-5 " id="supp"></i>
                        <span id="supp">Supprimer</span>
                      </a>
                    </div>
                    <div class="d-inline p-1">
                      <a [routerLink]="['/quiz/add-question',q.id]" class="btn btn-info">
                        <i class="ti-pencil pdd-right-5"></i>
                        <span>Modifier</span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
