<div class="container-fluid">
  <div class="page-title">
    <h4>Liste des quiz</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="table-overflow">
<div class="row">
  <div class="mrg-right-20">
  <input type="text" class="form-control mr-1"
        placeholder="Filtrer par Nom : "
         [(ngModel)]="listFilter" />

  </div>
</div>
            <br>
            <table class="table table-lg table-hover">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Date de création</th>
                <th>Description</th>
                <th>Supprimer/Modifier</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let q of filtredQuiz">
                <td>
                  <div class="relative mrg-top-20" >
                    <span class="title">{{q.name}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20" >
                    <span class="title">{{q.createdDate}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.description}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-15">
                    <div class="d-inline p-1">
                    <a  id="delete" class="btn btn-danger" (click)="deleteQuiz(q.id)">
                      <i class="ti-trash pdd-right-5 " id="supp"  ></i>
                      <span id="supp">Supprimer</span>
                    </a>
                    </div>
                    <div class="d-inline p-1">
                      <a class="btn btn-info" [routerLink]="['/quiz/add-question',q.id]">
                        <i class="ti-pencil pdd-right-5"></i>
                        <span>Modifier</span>
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
