<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="table-overflow">

            <H2> Veuillez saisir les réponses pour la question :  {{question.content}}  </H2>


            <form class="mrg-top-40">
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">

                  <div class="row">
                    <div class="form-inline">
                      <div class="d-inline p-2">
                        <input #newAnswer (keyup.enter)="addAnswer(newAnswer.value)"
                               class="form-control mr-1"
                        />
                      </div>

                      <div class="d-inline p-2">
                        <div [(ngModel)]="model" class="btn-group btn-group-toggle" name="radioBasic" ngbRadioGroup>
                          <label class="btn-info btn-sm" ngbButtonLabel>
                            <input (click)="setTrue()" ngbButton type="radio" value=1>Correct
                          </label>
                          <label class="btn-info btn-sm" ngbButtonLabel>
                            <input (click)="setFalse()" ngbButton type="radio"> Incorrect
                          </label>

                        </div>
                      </div>
                      <div class="d-inline p-2">
                        <button (click)="addAnswer(newAnswer.value)" class="btn btn-info">Ajouter une réponse</button>
                      </div>
                    </div>
                  </div>


                  <div *ngFor="let ans of answers ;let idx = index" class="row">
                    <div class="d-inline p-2">
                      <label>{{ans.content}}</label>
                    </div>
                    <div class="d-inline p-2">
                      <button (click)="deleteAnswer(ans)" class="btn-info btn-sm" type="button">Supprimer</button>
                    </div>
                    <div class="d-inline p-2">
                      <div [(ngModel)]="ans.correct" class="btn-group btn-group-toggle" name="radioBasic" ngbRadioGroup>
                        <label class="btn-info btn-sm" ngbButtonLabel>
                          <input ngbButton type="radio" value="{{ans.correct}}">Correct
                        </label>
                        <label class="btn-info btn-sm" ngbButtonLabel>
                          <input ngbButton type="radio" value="{{ans.correct}}"> Incorrect
                        </label>

                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
