<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading border bottom">
          <h4 class="card-title">Veuillez saisir les réponses pour la question :  {{question.content}} </h4>
        </div>
        <div class="card-block">
          <div class="table-overflow">
            <form #a="ngForm" (ngSubmit)="addAnswer(a.value)" class="mrg-top-40">
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto">

                  <div class="row">
                    <div class="form-inline">
                      <div class="d-inline p-2">
                        <input [(ngModel)]="content" class="form-control mr-1"
                               name="content"
                        />
                      </div>

                      <div class="d-inline p-2">
                        <div [(ngModel)]="correct" class="btn-group btn-group-toggle" name="correct" ngbRadioGroup>
                          <label class="btn-info btn-sm" ngbButtonLabel>
                            <input (click)="setTrue()" ngbButton type="radio" value=true>Correct
                          </label>
                          <label class="btn-info btn-sm" ngbButtonLabel>
                            <input (click)="setFalse()" ngbButton type="radio" value=false> Incorrect
                          </label>

                        </div>
                      </div>
                      <div class="d-inline p-2">
                        <button class="btn btn-info" type="submit">Ajouter une réponse</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <div *ngFor="let ans of answers ;let idx = index" class="row">
              <div class="d-inline p-2">
                <label>{{ans.content}}</label>
              </div>
              <div class="d-inline p-2">
                <button (click)="deleteAnswer(ans)" class="btn-info btn-sm" type="button">Supprimer</button>
              </div>
              <div class="d-inline p-2">


                <mat-slide-toggle
                  (change)="isCorrect(ans.id,$event)"
                  [(ngModel)]="ans.correct"
                  [color]="color"
                  class="example-margin">
                </mat-slide-toggle>

                <!--    <div [(ngModel)]="ans.correct" class="btn-group btn-group-toggle" ngbRadioGroup>
                      <label class="btn-info btn-sm" ngbButtonLabel>

                        <input ngbButton type="radio" name="radio1" value="{{ans.correct.toString()}}"  [value]="true"  (click)="isCorrect(ans.id)">Correct
                      </label>
                      <label class="btn-info btn-sm" ngbButtonLabel>
                        <input ngbButton type="radio"  name="radio2" value="{{ans.correct.toString()}}"  [value]="false" (click)="isIncorrect(ans.id)"> Incorrect
                      </label>


                    </div>
                    -->


              </div>


            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
