<div class="container-fluid">
  <div class="page-title">
    <h4>Ajouter un Quiz</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row relative">
            <div class="col-md-10 ml-auto mr-auto">

              <form #v="ngForm" (ngSubmit)="NewQuiz(v.value)" [formGroup]="quizForm" role="form">
                <div class="row mrg-top-40">
                  <div class="col-md-12">
                    <div class="col-md-8 ml-auto mr-auto">
                      <div class="row">
                        <div class="row">

                          <h1 *ngIf="display== true"> Veuillez saisir un autre nom </h1>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Nom</label>
                            <input [(ngModel)]="name" [ngClass]="{'error' : name?.errors?.minlength}"
                                   class="form-control" formControlName="name" minlength="4"
                                   placeholder="Nom du quiz" type="text"/>
                            <label *ngIf="name?.errors?.minlength" class="error">Veuillez saisir 4 caractères
                              minimum.</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for="form-1-5">Description</label>
                            <div class="col-md-12">
                              <textarea [(ngModel)]="description" [ngClass]="{'error' : description?.errors?.minlength}"
                                        class="form-control" formControlName="description" id="form-1-5" minlength="4"
                                        name="description" placeholder="Description du quiz" rows="2"></textarea>
                              <label *ngIf="description?.errors?.minlength" class="error">Veuillez saisir 4 caractères
                                minimum.</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="mrg-top-20">
                  <button class="btn btn-info button-next pull-right btn-rounded" type="submit">Suivant</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
