<div class="container-fluid">
  <div class="page-title">
    <h4>Ajouter un Quiz</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-block">
          <div class="row relative">
            <div class="col-md-10 ml-auto mr-auto">
              <aw-wizard [navBarLayout]="'large-filled-symbols'">
                <aw-wizard-step stepTitle="Créer un quiz" [navigationSymbol]="{ symbol: '1' }">
                  <form role="form" novalidate   (ngSubmit)="NewQuiz(v.value)" #v="ngForm">
                  <div class="row mrg-top-40">
                    <div class="col-md-12">
                      <div class="col-md-8 ml-auto mr-auto">
                          <div class="row">
                            <div class="row">

                              <h1 *ngIf="display== true"> Veuillez saisir un autre nom </h1>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Nom</label>
                                <input class="form-control" [ngClass]="{'error' : name?.errors?.minlength}" placeholder="Nom du quiz" type="text" ngModel name="name" #name="ngModel" minlength="4"/>
                                <label class="error" *ngIf="name?.errors?.minlength">Veuillez saisir 4 caractères minimum.</label>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label for="form-1-5">Description</label>
                                <div class="col-md-12">
                                  <textarea  [ngClass]="{'error' : description?.errors?.minlength}" placeholder="Description du quiz" class="form-control" rows="2" id="form-1-5" ngModel name="description" #description="ngModel" minlength="4"></textarea>
                                  <label class="error" *ngIf="description?.errors?.minlength">Veuillez saisir 4 caractères minimum.</label>
                                </div>
                            </div>
                          </div>
                          </div>
                      </div>
                    </div>

                  </div>
                  <div class="mrg-top-20">
                    <button type="submit" class="btn btn-primary button-next pull-right btn-rounded"  awNextStep>Suivant</button>
                  </div>
                  </form>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Ajouter des questions" [navigationSymbol]="{ symbol: '2' }">
                  <form class="mrg-top-40">
                    <div class="row">
                      <div class="col-md-10 ml-auto mr-auto">

                            <div class="row">
                            <div class="form-inline">
                            <input #newQuestion class="form-control mr-1"
                               (keyup.enter)="addQuestion(newQuestion.value)"
                               (blur)="addQuestion(newQuestion.value); newQuestion.value='' " />

                        <button class="btn btn-info"  (click)="addQuestion(newQuestion.value)">Ajouter une question</button>
                          </div>
                          </div>



                        <div class="form-group" *ngFor="let question of questions" >
                        <ul>
                          <li>
                            <input name="" value="{{question.content}}" type="text" disabled />
                        <button type="button" class="btn-info btn-sm" (click)="openModal(question)">Ajouter réponses</button>
                          <button type="button" class="btn-info btn-sm" (click)="deleteQuestion(question)" >Supprimer</button>



                        </li></ul>
                        </div>

                      </div>
                    </div>
                  </form>
                  <div class="mrg-top-20">
                    <button type="button" class="btn btn-primary button-next pull-right btn-rounded" awNextStep>Suivant</button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Payment Method" [navigationSymbol]="{ symbol: '3' }">
                  <form class="mrg-top-40">
                    <div class="row">
                      <div class="col-md-8 ml-auto mr-auto">
                        <p class="font-size-18">
                          <span>Total Payment Amount: </span>
                          <b class="text-dark">$1380.00</b>
                          <img class="pull-right" src="assets/images/others/credit-card.png">
                        </p>
                        <form class="mrg-top-40">
                          <div class="row">
                            <div class="form-group col-md-12">
                              <label><span class="pdd-left-5"><b>CREDIT CARD NUMBER</b></span></label>
                              <input type="text" name="creditCard" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" class="form-control" placeholder="_ _ _ _ - _ _ _ _ - _ _ _ _ - _ _ _ _ ">
                            </div>
                            <div class="form-group col-md-6">
                              <label><span class="pdd-left-5"><b>CVV Code</b></span></label>
                              <input type="text" name="cvv" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" class="form-control" placeholder="_ _ _">
                            </div>
                            <div class="form-group col-md-6">
                              <label><span class="pdd-left-5"><b>Expired Date</b></span></label>
                              <input type="text" name="mmyy" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" class="form-control" placeholder="MM/YY">
                            </div>
                            <div class="form-group col-md-12">
                              <label><span class="pdd-left-5"><b>Cardholder Name</b></span></label>
                              <input type="text" name="cardName" class="form-control" placeholder="Card Name">
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </form>
                  <div class="mrg-top-20">
                    <button type="button" class="btn btn-default button-previous btn-rounded" awPreviousStep>Previous</button>
                    <button type="button" class="btn btn-primary button-next pull-right btn-rounded" awNextStep>Next</button>
                  </div>
                </aw-wizard-step>
                <aw-wizard-step stepTitle="Confirmation" [navigationSymbol]="{ symbol: '4' }">
                  <div class="row mrg-top-40">
                    <div class="col-md-6 ml-auto mr-auto">
                      <img class="img-fluid d-block mrg-horizon-auto" src="assets/images/others/cart.png" alt="">
                      <div class="text-center">
                        <h2>Thanks for Your Order</h2>
                        <p>Your order has been placed successfully.
                          <br>
                          Click learn more to know more about the order status.
                        </p>
                        <button class="btn btn-info btn-inverse btn-lg">Learn More</button>
                      </div>
                    </div>
                  </div>
                  <div class="mrg-top-20">
                    <button type="button" class="btn btn-default button-previous btn-rounded" awPreviousStep>Previous</button>
                  </div>
                </aw-wizard-step>
              </aw-wizard>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
