<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading border bottom">
          <h4 class="card-title">Résultat des utilisateurs</h4>
        </div>
        <div class="card-block">
          <div class="table-overflow">
            <div class="row">
              <div class="mrg-right-20">
                <input type="text" class="form-control mr-1"
                       placeholder="Filtrer par login : "
                       [(ngModel)]="listFilter"  />

              </div>
            </div>
            <br>
            <table class="table table-lg table-hover">
              <thead>
              <tr>
                <th>Login</th>
                <th>Date de passage</th>
                <th>score</th>
                <th>Exam</th>
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let q of filtredQuizUser">
                <td>
                  <div class="relative mrg-top-20" >
                    <span class="title">{{q.appUser.username}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20" >
                    <span class="title">{{q.passedDateTime | date}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{ q.score }} / {{q.nbQuestion}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.quiz.name}}</span>
                  </div>
                </td>
                <td>
                  <div class="relative mrg-top-20">
                    <span class="title">{{q.quiz.description}}</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
